<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">

    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">

    <link rel="stylesheet" href="/css/styles.css">
    
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">
</head>
<body>
    <header class="bg-yellow pad">
        <section class="header">
            <div class="wrap-header">
                <a href="/">
                    <h1><img src="./images/logo-mercado-liebre.svg" alt="Logo de mercado liebre" width="80%"></h1>
                </a>
            </div>
            <div class="cont-compra">
                <h3 id="compra"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
            </div>
            <div class="wrap-header">
                <div class="buscar">
                    <input type="submit" value="Buscar productos, marcas y más">
                    <i class="fas fa-search"></i> 
                </div>
            </div>
            
        </section>
           
        
        <section class="cont-nav">
            
                <div class="wrap-nav">
                    <nav class="nav-01">
                        <ul>
                            <li><a href="">Ofertas</a></li>
                            <li><a href="">Tiendas Oficiales</a></li>
                            <li><a href="">Vender</a></li>
                            <li><a href="">Ayuda</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="wrap-nav">
                    <div class="nav-02">
                        <ul>
                            <li><a href="/register">Creá tu cuenta </a><i class="fas fa-address-card"></i></li>
                            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                            <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                        </ul>
                    </div>
                </div>
                    
        </section>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
    </header>

    <main class="main-register">

        <form action="" method="GET" class="formu-cont">
            <div class="wrap-form">
                <label for="nombre">
                    <input type="text" name="nombre" placeholder="Nombre y apellido">
                </label>
            </div>
            <div class="wrap-form">
                <label for="nombre-usuario">
                    <input type="text" name="usuario" placeholder="Nombre de usuario">
                </label>
            </div>
            <div class="wrap-form">
                <label for="email">
                    <input type="email" name="email" placeholder="E-mail">
                </label>
            </div>
            <h3>Fecha de Nacimiento</h3>
            <div class="wrap-form">
                <label for="fecha">
                    <input type="date" name="fecha" placeholder="mm/dd/yyyy">
                </label>
            </div>
            <div class="wrap-form">
                <label for="domicilio">
                    <input type="text" name="domicilio" placeholder="Domicilio">
                </label>
            </div>
            <h3>Perfil de usuario</h3>
            <div class="wrap-form">
                <label for="perfil"> 
                    <select name="perfil" id="perfil" >
                        <option value="comprar">Comprar</option>
                        <option value="vender">Vender</option>
                    </select>
                </label>
            </div>
            <h3>Intereses</h3>
            <section class="categoria">
                    <div class="cat-nombre">
                        <input type="checkbox" name="intereses" value="Electro" >
                        <label for="">Electro</label>
                    </div>   
                    <div class="cat-nombre">
                        <input type="checkbox" name="intereses" value="Moda" >
                        <label for="">Moda</label>
                    </div>
                    <div class="cat-nombre">
                        <input type="checkbox" name="intereses" value="Hogar" >
                        <label for="">Hogar</label>
                    </div>
                    <div class="cat-nombre">
                        <input type="checkbox" name="intereses" value="Jugueteria" >
                        <label for="">Jugueteria</label>
                    </div>
                    <div class="cat-nombre">
                        <input type="checkbox" name="intereses" value="Vida sana" >
                        <label for="">Vida sana</label>
                    </div>
               
            </section>
            <h3>Eliga una foto de perfil</h3>
            <div class="wrap-form">
                <label for="adjuntar" class="foto">
                    <input type="file" name="foto" accept=".jpg">
                </label>
            </div>

            <div class="wrap-form">
                <label for="password">
                    <input type="password" name="password" placeholder="Eliga una contraseña">
                </label>
                
            </div>

            <div class="wrap-form">
                <label for="re-password">
                    <input type="re-password" name="re-password" placeholder="Vuelva a escribir la contraseña">
                </label>
                
            </div>

            <div class="button">
                <button type="submit" class="b-enviar">Enviar</button>

                <button type="reset" class="b-borrar">Borrar</button>
                
            </div>

            

               

        </form>

    </main>

    <footer>
        <section class="wrap-footer">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="wrap-footer">
            <i class="fas fa-gift"></i>
            <h3> Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="wrap-footer">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section class="wrap-p">
            <p> Copyright © 1999-2021 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
    
</body>
</html>